{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
<h1>{{ image.title }}</h1>
{% thumbnail image.image "300" as im %}
<a href="{{ im.url }}">
    <img src="{{ im.url }}" class="image-detail">
</a>
{% endthumbnail %}
{% with total_likes=image.users_like.count user_likes=image.users_like.all %}
<div class="image-info">
    <div>
        <span class="count">
            <span class="total">{{ total_likes }}</span> like{{ total_likes|pluralize }}
        </span>
        <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in user_likes %} un{% endif %}like" class="like button">
            {% if request.user not in user_likes %}
            Like
            {% else %}
            Unlike
            {% endif %}
        </a>
    </div>
    {{ image.description|linebreaks }}
</div>
<div class="image-likes">
    {% for user in user_likes %}
    <div>
        {% if user.profile.photo %}
        <img src="{{ user.profile.photo.url }}" alt="user photo"/>
        {% endif %}
        <p>{{ user.first_name }}</p>
    </div>
    {% empty %}
    Nobody likes this image yet
    {% endfor %}
</div>
{% endwith %}
{% endblock %}
{% block domready %}
const url = '{% url "images:like" %}';
const options = {
    method: 'POST',
    headers: {'X-CSRFToken':csrftoken},
    mode: 'same-origin'
}
document.querySelector('a.like').addEventListener('click', (e) => {
    e.preventDefault();
    const likeButton = e.target;

    const formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options['body'] = formData;

    fetch(url, options)
    .then(response => response.json())
    .then(data => {
        if (data['status'] === 'ok') {
            const previousAction = likeButton.dataset.action;
            const action = previousAction === 'like' ? 'unlike' : 'like';
            likeButton.dataset.action = action;
            likeButton.innerHTML = action;

            const likeCount = document.querySelector('span.count .total');
            const totalLikes = parseInt(likeCount.innerHTML);
            likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;
    }
})
})
{% endblock %}